fastapi
uvicorn[standard]
motor
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pyotp
qrcode
aiosmtplib
jinja2
python-dotenv
fastapi-mail
disposable-email-domains
